In [1]:
import findspark
findspark.init()

In [2]:
from pyspark.sql import SparkSession
from pyspark.sql.types import *
from pyspark import StorageLevel

In [3]:
from pyspark.sql import Window

In [4]:
from pyspark.sql.functions import regexp_extract, col
from pyspark.sql.functions import *

In [5]:
spark=SparkSession.builder\
                  .master("local")\
                  .appName('new')\
                  .getOrCreate()
sc=spark.sparkContext

22/11/01 10:12:48 WARN Utils: Your hostname, ashwins-MacBook-Air.local resolves to a loopback address: 127.0.0.1; using 192.168.29.199 instead (on interface en0)
22/11/01 10:12:48 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

22/11/01 10:12:48 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [4]:
#1. reading the data - Reader API
#2. crunching of data - transformations
#3. write the data back - Writer API

In [4]:
orderDf = spark.read.format("csv")\
         .option("header",True)\
         .option("inferSchema",True)\
         .option("path","orders-201019-002101.csv")\
         .load()

In [7]:
orderDf.write.format("csv")\
.mode("overwrite")\
.option("path","/Users/ashwinpandey/Desktop/folder")\
.save()

In [6]:
print("number of partitions are ", orderDf.rdd.getNumPartitions())
ordersRep = orderDf.repartition(4)

number of partitions are  1

In [7]:
ordersRep.write.format("csv")\
         .mode("overwrite")\
         .option("path","/Users/ashwinpandey/Desktop/folder")\
         .save()

In [9]:
#==========
#saving option
# 1- overwrite
# 2- append
# 3- errorIfExists
# 4- ignore

In [10]:
#=====
#Parquet is the default file format in apache spark when we talk about structured api's
#=====Spark File LayoutNumber of files is equal to number of partitions.
# 1. simple repartition - repartition
# 2. partitioning - partitionBy (allows partitioning pruning)
# 3. bucketBy
# 4. maxRecordsPerFile

In [11]:

orderDf = spark.read.format("csv")\
        .option("header",True)\
        .option("inferSchema",True)\
        .option("path","orders-201019-002101.csv")\
        .load()

In [12]:
orderDf.write.format("csv").partitionBy("order_status")\
       .mode("overwrite")\
       .option("path","/Users/ashwinpandey/Desktop/folder")\
       .save()

In [13]:
# AVRO

In [ ]:
orderDf = spark.read.format("csv")\
         .option("header",True)\
         .option("inferSchema",True)\
         .option("path","/Users/trendytech/Desktop/data/orders.csv")\
         .load()

In [ ]:
orderDf.write.format("avro")\
.mode("overwrite")\.option("path","/Users/trendytech/Desktop/newfolder4")\.save()

In [14]:
# Creating a table from data

In [15]:
orderDf = spark.read.format("csv")\
         .option("header",True)\
         .option("inferSchema",True)\
         .option("path","orders-201019-002101.csv")\
         .load()

In [16]:
orderDf.createOrReplaceTempView("orders")

In [18]:
resultDf = spark.sql("select order_status, count(*) as total_orders from orders group by order_status")
resultDf.show()

+---------------+------------+
|   order_status|total_orders|
+---------------+------------+
|PENDING_PAYMENT|       15030|
|       COMPLETE|       22900|
|        ON_HOLD|        3798|
| PAYMENT_REVIEW|         729|
|     PROCESSING|        8275|
|         CLOSED|        7556|
|SUSPECTED_FRAUD|        1558|
|        PENDING|        7610|
|       CANCELED|        1428|
+---------------+------------+

In [23]:
resultDf1 = spark.sql("select order_customer_id, count(*) as total_orders from orders where order_status = 'CLOSED' group by order_customer_id order by total_orders desc")
resultDf1.show()

+-----------------+------------+
|order_customer_id|total_orders|
+-----------------+------------+
|             1833|           6|
|             1687|           5|
|             1363|           5|
|             5493|           5|
|             2236|           4|
|            10018|           4|
|             3631|           4|
|            12431|           4|
|             7879|           4|
|             5319|           4|
|             2774|           4|
|            10263|           4|
|             4997|           4|
|             1443|           4|
|              569|           4|
|             9213|           4|
|             4573|           4|
|             4588|           4|
|            10111|           4|
|             7948|           4|
+-----------------+------------+
only showing top 20 rows

In [24]:
#Table has 2 parts
#1. data - warehouse - spark.sql.warehouse.dir
#2. metadata - catalog metastore - memory

In [25]:
orderDf.write.format("csv")\
       .mode("overwrite")\
       .saveAsTable("orders1")

In [26]:
#creating a database

In [29]:
orderDf = spark.read.format("csv")\
         .option("header",True)\
         .option("inferSchema",True)\
         .option("path","orders-201019-002101.csv")\
         .load()
spark.sql("create database if not exists retail")

DataFrame[]

In [30]:
orderDf.write.format("csv")\
       .mode("overwrite")\
       .saveAsTable("retail.orders2")

In [31]:
orderDf.write.format("csv")\
       .mode("overwrite")\
       .saveAsTable("retail.orders3")

In [34]:
spark.sql("create database if not exists retail")

DataFrame[]

In [36]:
orderDf.write.format("csv")\
       .bucketBy(4,"order_customer_id")\
       .sortBy("order_customer_id")\
       .saveAsTable("retail.orders4")

In [4]:
# Readind the un-structured data using regular expression

In [5]:
myregex = r'^(\S+) (\S+)\t(\S+)\,(\S+)'
lines_df = spark.read.text("orders_new-201019-002101.csv")
#lines_df.printSchema()#lines_df.show()

In [8]:
final_df =lines_df.select(regexp_extract('value',myregex,1).alias("order_id"),regexp_extract('value',myregex,2).alias("date"),regexp_extract('value',myregex,3).alias("customer_id"),regexp_extract('value',myregex,4).alias("status"))
final_df.printSchema()
final_df.show()

root
 |-- order_id: string (nullable = true)
 |-- date: string (nullable = true)
 |-- customer_id: string (nullable = true)
 |-- status: string (nullable = true)

+--------+----------+-----------+---------------+
|order_id|      date|customer_id|         status|
+--------+----------+-----------+---------------+
|       1|2013-07-25|      11599|         CLOSED|
|       2|2013-07-25|        256|PENDING_PAYMENT|
|       3|2013-07-25|      12111|       COMPLETE|
|       4|2013-07-25|       8827|         CLOSED|
|       5|2013-07-25|      11318|       COMPLETE|
|       6|2013-07-25|       7130|       COMPLETE|
|       7|2013-07-25|       4530|       COMPLETE|
|       8|2013-07-25|       2911|     PROCESSING|
|       9|2013-07-25|       5657|PENDING_PAYMENT|
|      10|2013-07-25|       5648|PENDING_PAYMENT|
|      11|2013-07-25|        918| PAYMENT_REVIEW|
|      12|2013-07-25|       1837|         CLOSED|
+--------+----------+-----------+---------------+

In [9]:
final_df.select("order_id").show()

+--------+
|order_id|
+--------+
|       1|
|       2|
|       3|
|       4|
|       5|
|       6|
|       7|
|       8|
|       9|
|      10|
|      11|
|      12|
+--------+

In [10]:
final_df.groupby("status").count().show()

+---------------+-----+
|         status|count|
+---------------+-----+
|PENDING_PAYMENT|    3|
|       COMPLETE|    4|
| PAYMENT_REVIEW|    1|
|     PROCESSING|    1|
|         CLOSED|    3|
+---------------+-----+

In [11]:
#Column String
#Column object

In [13]:
orderDf = spark.read.format("csv")\
         .option("header",True)\
         .option("inferSchema",True)\
         .option("path","orders-201019-002101.csv")\
         .load()
orderDf.select("order_id","order_date").show()
orderDf.select(col("order_id")).show()

+--------+-------------------+
|order_id|         order_date|
+--------+-------------------+
|       1|2013-07-25 00:00:00|
|       2|2013-07-25 00:00:00|
|       3|2013-07-25 00:00:00|
|       4|2013-07-25 00:00:00|
|       5|2013-07-25 00:00:00|
|       6|2013-07-25 00:00:00|
|       7|2013-07-25 00:00:00|
|       8|2013-07-25 00:00:00|
|       9|2013-07-25 00:00:00|
|      10|2013-07-25 00:00:00|
|      11|2013-07-25 00:00:00|
|      12|2013-07-25 00:00:00|
|      13|2013-07-25 00:00:00|
|      14|2013-07-25 00:00:00|
|      15|2013-07-25 00:00:00|
|      16|2013-07-25 00:00:00|
|      17|2013-07-25 00:00:00|
|      18|2013-07-25 00:00:00|
|      19|2013-07-25 00:00:00|
|      20|2013-07-25 00:00:00|
+--------+-------------------+
only showing top 20 rows

+--------+
|order_id|
+--------+
|       1|
|       2|
|       3|
|       4|
|       5|
|       6|
|       7|
|       8|
|       9|
|      10|
|      11|
|      12|
|      13|
|      14|
|      15|
|      16|
|      17|
|      18|
|      19|
|      20|
+--------+
only showing top 20 rows

In [14]:
#Creating our own user defined function is spark.
#1. Column object expression -- the function won't be registered in catalog
#2. SQL expression -- the function will be registered in catalog.So in this case we can even use it with spark SQL.

In [15]:
#if the age is greater than 18 we have to populate the 4th column named 
#Adult with "Y"else we need to populated the column with "N"

In [16]:
df = spark.read.format("csv")\
    .option("inferSchema",True)\
    .option("path","-201025-223502.dataset1")\
    .load()

In [17]:
df.show()

+-------+---+---------+
|    _c0|_c1|      _c2|
+-------+---+---------+
|  sumit| 30|bangalore|
|  kapil| 32|hyderabad|
|sathish| 16|  chennai|
|   ravi| 39|bangalore|
| kavita| 12|hyderabad|
|  kavya| 19|   mysore|
+-------+---+---------+

In [20]:
df1 = df.toDF("name","age","city")
def ageCheck(age):
    if(age > 18):
        return "Y"
    else:
        return "N"
parseAgeFunction = udf(ageCheck,StringType())
df2 = df1.withColumn("adult",parseAgeFunction("age"))
df2.printSchema()
df2.show()

root
 |-- name: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- city: string (nullable = true)
 |-- adult: string (nullable = true)

+-------+---+---------+-----+
|   name|age|     city|adult|
+-------+---+---------+-----+
|  sumit| 30|bangalore|    Y|
|  kapil| 32|hyderabad|    Y|
|sathish| 16|  chennai|    N|
|   ravi| 39|bangalore|    Y|
| kavita| 12|hyderabad|    N|
|  kavya| 19|   mysore|    Y|
+-------+---+---------+-----+

In [22]:
spark.udf.register("parseAgeFunction",ageCheck,StringType())
for x in spark.catalog.listFunctions():
    print(x)

22/10/29 13:06:54 WARN SimpleFunctionRegistry: The function parseagefunction replaced a previously registered function.
Function(name='!', description=None, className='org.apache.spark.sql.catalyst.expressions.Not', isTemporary=True)
Function(name='%', description=None, className='org.apache.spark.sql.catalyst.expressions.Remainder', isTemporary=True)
Function(name='&', description=None, className='org.apache.spark.sql.catalyst.expressions.BitwiseAnd', isTemporary=True)
Function(name='*', description=None, className='org.apache.spark.sql.catalyst.expressions.Multiply', isTemporary=True)
Function(name='+', description=None, className='org.apache.spark.sql.catalyst.expressions.Add', isTemporary=True)
Function(name='-', description=None, className='org.apache.spark.sql.catalyst.expressions.Subtract', isTemporary=True)
Function(name='/', description=None, className='org.apache.spark.sql.catalyst.expressions.Divide', isTemporary=True)
Function(name='<', description=None, className='org.apache.spark.sql.catalyst.expressions.LessThan', isTemporary=True)
Function(name='<=', description=None, className='org.apache.spark.sql.catalyst.expressions.LessThanOrEqual', isTemporary=True)
Function(name='<=>', description=None, className='org.apache.spark.sql.catalyst.expressions.EqualNullSafe', isTemporary=True)
Function(name='=', description=None, className='org.apache.spark.sql.catalyst.expressions.EqualTo', isTemporary=True)
Function(name='==', description=None, className='org.apache.spark.sql.catalyst.expressions.EqualTo', isTemporary=True)
Function(name='>', description=None, className='org.apache.spark.sql.catalyst.expressions.GreaterThan', isTemporary=True)
Function(name='>=', description=None, className='org.apache.spark.sql.catalyst.expressions.GreaterThanOrEqual', isTemporary=True)
Function(name='^', description=None, className='org.apache.spark.sql.catalyst.expressions.BitwiseXor', isTemporary=True)
Function(name='abs', description=None, className='org.apache.spark.sql.catalyst.expressions.Abs', isTemporary=True)
Function(name='acos', description=None, className='org.apache.spark.sql.catalyst.expressions.Acos', isTemporary=True)
Function(name='acosh', description=None, className='org.apache.spark.sql.catalyst.expressions.Acosh', isTemporary=True)
Function(name='add_months', description=None, className='org.apache.spark.sql.catalyst.expressions.AddMonths', isTemporary=True)
Function(name='aes_decrypt', description=None, className='org.apache.spark.sql.catalyst.expressions.AesDecrypt', isTemporary=True)
Function(name='aes_encrypt', description=None, className='org.apache.spark.sql.catalyst.expressions.AesEncrypt', isTemporary=True)
Function(name='aggregate', description=None, className='org.apache.spark.sql.catalyst.expressions.ArrayAggregate', isTemporary=True)
Function(name='and', description=None, className='org.apache.spark.sql.catalyst.expressions.And', isTemporary=True)
Function(name='any', description=None, className='org.apache.spark.sql.catalyst.expressions.aggregate.BoolOr', isTemporary=True)
Function(name='approx_count_distinct', description=None, className='org.apache.spark.sql.catalyst.expressions.aggregate.HyperLogLogPlusPlus', isTemporary=True)
Function(name='approx_percentile', description=None, className='org.apache.spark.sql.catalyst.expressions.aggregate.ApproximatePercentile', isTemporary=True)
Function(name='array', description=None, className='org.apache.spark.sql.catalyst.expressions.CreateArray', isTemporary=True)
Function(name='array_agg', description=None, className='org.apache.spark.sql.catalyst.expressions.aggregate.CollectList', isTemporary=True)
Function(name='array_contains', description=None, className='org.apache.spark.sql.catalyst.expressions.ArrayContains', isTemporary=True)
Function(name='array_distinct', description=None, className='org.apache.spark.sql.catalyst.expressions.ArrayDistinct', isTemporary=True)
Function(name='array_except', description=None, className='org.apache.spark.sql.catalyst.expressions.ArrayExcept', isTemporary=True)
Function(name='array_intersect', description=None, className='org.apache.spark.sql.catalyst.expressions.ArrayIntersect', isTemporary=True)
Function(name='array_join', description=None, className='org.apache.spark.sql.catalyst.expressions.ArrayJoin', isTemporary=True)
Function(name='array_max', description=None, className='org.apache.spark.sql.catalyst.expressions.ArrayMax', isTemporary=True)
Function(name='array_min', description=None, className='org.apache.spark.sql.catalyst.expressions.ArrayMin', isTemporary=True)
Function(name='array_position', description=None, className='org.apache.spark.sql.catalyst.expressions.ArrayPosition', isTemporary=True)
Function(name='array_remove', description=None, className='org.apache.spark.sql.catalyst.expressions.ArrayRemove', isTemporary=True)
Function(name='array_repeat', description=None, className='org.apache.spark.sql.catalyst.expressions.ArrayRepeat', isTemporary=True)
Function(name='array_size', description=None, className='org.apache.spark.sql.catalyst.expressions.ArraySize', isTemporary=True)
Function(name='array_sort', description=None, className='org.apache.spark.sql.catalyst.expressions.ArraySort', isTemporary=True)
Function(name='array_union', description=None, className='org.apache.spark.sql.catalyst.expressions.ArrayUnion', isTemporary=True)
Function(name='arrays_overlap', description=None, className='org.apache.spark.sql.catalyst.expressions.ArraysOverlap', isTemporary=True)
Function(name='arrays_zip', description=None, className='org.apache.spark.sql.catalyst.expressions.ArraysZip', isTemporary=True)
Function(name='ascii', description=None, className='org.apache.spark.sql.catalyst.expressions.Ascii', isTemporary=True)
Function(name='asin', description=None, className='org.apache.spark.sql.catalyst.expressions.Asin', isTemporary=True)
Function(name='asinh', description=None, className='org.apache.spark.sql.catalyst.expressions.Asinh', isTemporary=True)
Function(name='assert_true', description=None, className='org.apache.spark.sql.catalyst.expressions.AssertTrue', isTemporary=True)
Function(name='atan', description=None, className='org.apache.spark.sql.catalyst.expressions.Atan', isTemporary=True)
Function(name='atan2', description=None, className='org.apache.spark.sql.catalyst.expressions.Atan2', isTemporary=True)
Function(name='atanh', description=None, className='org.apache.spark.sql.catalyst.expressions.Atanh', isTemporary=True)
Function(name='avg', description=None, className='org.apache.spark.sql.catalyst.expressions.aggregate.Average', isTemporary=True)
Function(name='base64', description=None, className='org.apache.spark.sql.catalyst.expressions.Base64', isTemporary=True)
Function(name='bigint', description=None, className='org.apache.spark.sql.catalyst.expressions.Cast', isTemporary=True)
Function(name='bin', description=None, className='org.apache.spark.sql.catalyst.expressions.Bin', isTemporary=True)
Function(name='binary', description=None, className='org.apache.spark.sql.catalyst.expressions.Cast', isTemporary=True)
Function(name='bit_and', description=None, className='org.apache.spark.sql.catalyst.expressions.aggregate.BitAndAgg', isTemporary=True)
Function(name='bit_count', description=None, className='org.apache.spark.sql.catalyst.expressions.BitwiseCount', isTemporary=True)
Function(name='bit_get', description=None, className='org.apache.spark.sql.catalyst.expressions.BitwiseGet', isTemporary=True)
Function(name='bit_length', description=None, className='org.apache.spark.sql.catalyst.expressions.BitLength', isTemporary=True)
Function(name='bit_or', description=None, className='org.apache.spark.sql.catalyst.expressions.aggregate.BitOrAgg', isTemporary=True)
Function(name='bit_xor', description=None, className='org.apache.spark.sql.catalyst.expressions.aggregate.BitXorAgg', isTemporary=True)
Function(name='bool_and', description=None, className='org.apache.spark.sql.catalyst.expressions.aggregate.BoolAnd', isTemporary=True)
Function(name='bool_or', description=None, className='org.apache.spark.sql.catalyst.expressions.aggregate.BoolOr', isTemporary=True)
Function(name='boolean', description=None, className='org.apache.spark.sql.catalyst.expressions.Cast', isTemporary=True)
Function(name='bround', description=None, className='org.apache.spark.sql.catalyst.expressions.BRound', isTemporary=True)
Function(name='btrim', description=None, className='org.apache.spark.sql.catalyst.expressions.StringTrimBoth', isTemporary=True)
Function(name='cardinality', description=None, className='org.apache.spark.sql.catalyst.expressions.Size', isTemporary=True)
Function(name='cast', description=None, className='org.apache.spark.sql.catalyst.expressions.Cast', isTemporary=True)
Function(name='cbrt', description=None, className='org.apache.spark.sql.catalyst.expressions.Cbrt', isTemporary=True)
Function(name='ceil', description=None, className='org.apache.spark.sql.catalyst.expressions.CeilExpressionBuilder', isTemporary=True)
Function(name='ceiling', description=None, className='org.apache.spark.sql.catalyst.expressions.CeilExpressionBuilder', isTemporary=True)
Function(name='char', description=None, className='org.apache.spark.sql.catalyst.expressions.Chr', isTemporary=True)
Function(name='char_length', description=None, className='org.apache.spark.sql.catalyst.expressions.Length', isTemporary=True)
Function(name='character_length', description=None, className='org.apache.spark.sql.catalyst.expressions.Length', isTemporary=True)
Function(name='chr', description=None, className='org.apache.spark.sql.catalyst.expressions.Chr', isTemporary=True)
Function(name='coalesce', description=None, className='org.apache.spark.sql.catalyst.expressions.Coalesce', isTemporary=True)
Function(name='collect_list', description=None, className='org.apache.spark.sql.catalyst.expressions.aggregate.CollectList', isTemporary=True)
Function(name='collect_set', description=None, className='org.apache.spark.sql.catalyst.expressions.aggregate.CollectSet', isTemporary=True)
Function(name='concat', description=None, className='org.apache.spark.sql.catalyst.expressions.Concat', isTemporary=True)
Function(name='concat_ws', description=None, className='org.apache.spark.sql.catalyst.expressions.ConcatWs', isTemporary=True)
Function(name='contains', description=None, className='org.apache.spark.sql.catalyst.expressions.ContainsExpressionBuilder', isTemporary=True)
Function(name='conv', description=None, className='org.apache.spark.sql.catalyst.expressions.Conv', isTemporary=True)
Function(name='corr', description=None, className='org.apache.spark.sql.catalyst.expressions.aggregate.Corr', isTemporary=True)
Function(name='cos', description=None, className='org.apache.spark.sql.catalyst.expressions.Cos', isTemporary=True)
Function(name='cosh', description=None, className='org.apache.spark.sql.catalyst.expressions.Cosh', isTemporary=True)
Function(name='cot', description=None, className='org.apache.spark.sql.catalyst.expressions.Cot', isTemporary=True)
Function(name='count', description=None, className='org.apache.spark.sql.catalyst.expressions.aggregate.Count', isTemporary=True)
Function(name='count_if', description=None, className='org.apache.spark.sql.catalyst.expressions.aggregate.CountIf', isTemporary=True)
Function(name='count_min_sketch', description=None, className='org.apache.spark.sql.catalyst.expressions.aggregate.CountMinSketchAgg', isTemporary=True)
Function(name='covar_pop', description=None, className='org.apache.spark.sql.catalyst.expressions.aggregate.CovPopulation', isTemporary=True)
Function(name='covar_samp', description=None, className='org.apache.spark.sql.catalyst.expressions.aggregate.CovSample', isTemporary=True)
Function(name='crc32', description=None, className='org.apache.spark.sql.catalyst.expressions.Crc32', isTemporary=True)
Function(name='csc', description=None, className='org.apache.spark.sql.catalyst.expressions.Csc', isTemporary=True)
Function(name='cume_dist', description=None, className='org.apache.spark.sql.catalyst.expressions.CumeDist', isTemporary=True)
Function(name='current_catalog', description=None, className='org.apache.spark.sql.catalyst.expressions.CurrentCatalog', isTemporary=True)
Function(name='current_database', description=None, className='org.apache.spark.sql.catalyst.expressions.CurrentDatabase', isTemporary=True)
Function(name='current_date', description=None, className='org.apache.spark.sql.catalyst.expressions.CurrentDate', isTemporary=True)
Function(name='current_timestamp', description=None, className='org.apache.spark.sql.catalyst.expressions.CurrentTimestamp', isTemporary=True)
Function(name='current_timezone', description=None, className='org.apache.spark.sql.catalyst.expressions.CurrentTimeZone', isTemporary=True)
Function(name='current_user', description=None, className='org.apache.spark.sql.catalyst.expressions.CurrentUser', isTemporary=True)
Function(name='date', description=None, className='org.apache.spark.sql.catalyst.expressions.Cast', isTemporary=True)
Function(name='date_add', description=None, className='org.apache.spark.sql.catalyst.expressions.DateAdd', isTemporary=True)
Function(name='date_format', description=None, className='org.apache.spark.sql.catalyst.expressions.DateFormatClass', isTemporary=True)
Function(name='date_from_unix_date', description=None, className='org.apache.spark.sql.catalyst.expressions.DateFromUnixDate', isTemporary=True)
Function(name='date_part', description=None, className='org.apache.spark.sql.catalyst.expressions.DatePartExpressionBuilder', isTemporary=True)
Function(name='date_sub', description=None, className='org.apache.spark.sql.catalyst.expressions.DateSub', isTemporary=True)
Function(name='date_trunc', description=None, className='org.apache.spark.sql.catalyst.expressions.TruncTimestamp', isTemporary=True)
Function(name='datediff', description=None, className='org.apache.spark.sql.catalyst.expressions.DateDiff', isTemporary=True)
Function(name='day', description=None, className='org.apache.spark.sql.catalyst.expressions.DayOfMonth', isTemporary=True)
Function(name='dayofmonth', description=None, className='org.apache.spark.sql.catalyst.expressions.DayOfMonth', isTemporary=True)
Function(name='dayofweek', description=None, className='org.apache.spark.sql.catalyst.expressions.DayOfWeek', isTemporary=True)
Function(name='dayofyear', description=None, className='org.apache.spark.sql.catalyst.expressions.DayOfYear', isTemporary=True)
Function(name='decimal', description=None, className='org.apache.spark.sql.catalyst.expressions.Cast', isTemporary=True)
Function(name='decode', description=None, className='org.apache.spark.sql.catalyst.expressions.Decode', isTemporary=True)
Function(name='degrees', description=None, className='org.apache.spark.sql.catalyst.expressions.ToDegrees', isTemporary=True)
Function(name='dense_rank', description=None, className='org.apache.spark.sql.catalyst.expressions.DenseRank', isTemporary=True)
Function(name='div', description=None, className='org.apache.spark.sql.catalyst.expressions.IntegralDivide', isTemporary=True)
Function(name='double', description=None, className='org.apache.spark.sql.catalyst.expressions.Cast', isTemporary=True)
Function(name='e', description=None, className='org.apache.spark.sql.catalyst.expressions.EulerNumber', isTemporary=True)
Function(name='element_at', description=None, className='org.apache.spark.sql.catalyst.expressions.ElementAt', isTemporary=True)
Function(name='elt', description=None, className='org.apache.spark.sql.catalyst.expressions.Elt', isTemporary=True)
Function(name='encode', description=None, className='org.apache.spark.sql.catalyst.expressions.Encode', isTemporary=True)
Function(name='endswith', description=None, className='org.apache.spark.sql.catalyst.expressions.EndsWithExpressionBuilder', isTemporary=True)
Function(name='every', description=None, className='org.apache.spark.sql.catalyst.expressions.aggregate.BoolAnd', isTemporary=True)
Function(name='exists', description=None, className='org.apache.spark.sql.catalyst.expressions.ArrayExists', isTemporary=True)
Function(name='exp', description=None, className='org.apache.spark.sql.catalyst.expressions.Exp', isTemporary=True)
Function(name='explode', description=None, className='org.apache.spark.sql.catalyst.expressions.Explode', isTemporary=True)
Function(name='explode_outer', description=None, className='org.apache.spark.sql.catalyst.expressions.Explode', isTemporary=True)
Function(name='expm1', description=None, className='org.apache.spark.sql.catalyst.expressions.Expm1', isTemporary=True)
Function(name='extract', description=None, className='org.apache.spark.sql.catalyst.expressions.Extract', isTemporary=True)
Function(name='factorial', description=None, className='org.apache.spark.sql.catalyst.expressions.Factorial', isTemporary=True)
Function(name='filter', description=None, className='org.apache.spark.sql.catalyst.expressions.ArrayFilter', isTemporary=True)
Function(name='find_in_set', description=None, className='org.apache.spark.sql.catalyst.expressions.FindInSet', isTemporary=True)
Function(name='first', description=None, className='org.apache.spark.sql.catalyst.expressions.aggregate.First', isTemporary=True)
Function(name='first_value', description=None, className='org.apache.spark.sql.catalyst.expressions.aggregate.First', isTemporary=True)
Function(name='flatten', description=None, className='org.apache.spark.sql.catalyst.expressions.Flatten', isTemporary=True)
Function(name='float', description=None, className='org.apache.spark.sql.catalyst.expressions.Cast', isTemporary=True)
Function(name='floor', description=None, className='org.apache.spark.sql.catalyst.expressions.FloorExpressionBuilder', isTemporary=True)
Function(name='forall', description=None, className='org.apache.spark.sql.catalyst.expressions.ArrayForAll', isTemporary=True)
Function(name='format_number', description=None, className='org.apache.spark.sql.catalyst.expressions.FormatNumber', isTemporary=True)
Function(name='format_string', description=None, className='org.apache.spark.sql.catalyst.expressions.FormatString', isTemporary=True)
Function(name='from_csv', description=None, className='org.apache.spark.sql.catalyst.expressions.CsvToStructs', isTemporary=True)
Function(name='from_json', description=None, className='org.apache.spark.sql.catalyst.expressions.JsonToStructs', isTemporary=True)
Function(name='from_unixtime', description=None, className='org.apache.spark.sql.catalyst.expressions.FromUnixTime', isTemporary=True)
Function(name='from_utc_timestamp', description=None, className='org.apache.spark.sql.catalyst.expressions.FromUTCTimestamp', isTemporary=True)
Function(name='get_json_object', description=None, className='org.apache.spark.sql.catalyst.expressions.GetJsonObject', isTemporary=True)
Function(name='getbit', description=None, className='org.apache.spark.sql.catalyst.expressions.BitwiseGet', isTemporary=True)
Function(name='greatest', description=None, className='org.apache.spark.sql.catalyst.expressions.Greatest', isTemporary=True)
Function(name='grouping', description=None, className='org.apache.spark.sql.catalyst.expressions.Grouping', isTemporary=True)
Function(name='grouping_id', description=None, className='org.apache.spark.sql.catalyst.expressions.GroupingID', isTemporary=True)
Function(name='hash', description=None, className='org.apache.spark.sql.catalyst.expressions.Murmur3Hash', isTemporary=True)
Function(name='hex', description=None, className='org.apache.spark.sql.catalyst.expressions.Hex', isTemporary=True)
Function(name='histogram_numeric', description=None, className='org.apache.spark.sql.catalyst.expressions.aggregate.HistogramNumeric', isTemporary=True)
Function(name='hour', description=None, className='org.apache.spark.sql.catalyst.expressions.Hour', isTemporary=True)
Function(name='hypot', description=None, className='org.apache.spark.sql.catalyst.expressions.Hypot', isTemporary=True)

In [25]:
df2 = df1.withColumn("adult",expr("parseAgeFunction(age)"))
df2.show()

+-------+---+---------+-----+
|   name|age|     city|adult|
+-------+---+---------+-----+
|  sumit| 30|bangalore|    Y|
|  kapil| 32|hyderabad|    Y|
|sathish| 16|  chennai|    N|
|   ravi| 39|bangalore|    Y|
| kavita| 12|hyderabad|    N|
|  kavya| 19|   mysore|    Y|
+-------+---+---------+-----+

In [26]:
#create the spark session
#create a local list
#create a dataframe from this local list and give column names
#add a new column date1 with unix timestamp
#add one more column with monotonically increasing id

#drop the duplicates based on combination of 2 columns
#drop the orderid column
#sort based on order date

In [5]:
myList = [(1,"2013-07-25",11599,"CLOSED"),
          (2,"2014-07-25",256,"PENDING_PAYMENT"),
          (3,"2013-07-25",11599,"COMPLETE"),
          (4,"2019-07-25",8827,"CLOSED")]

In [6]:
ordersDf = spark.createDataFrame(myList)\
                .toDF("orderid","orderdate","customerid","status")

In [7]:
newDf = ordersDf\
       .withColumn("date1",unix_timestamp(col("orderdate"))) \
       .withColumn("newid", monotonically_increasing_id()) \
       .dropDuplicates(["orderdate","customerid"])\
       .drop("orderid")\
       .sort("orderdate")

In [8]:
ordersDf.printSchema()
ordersDf.show()
newDf.show()

root
 |-- orderid: long (nullable = true)
 |-- orderdate: string (nullable = true)
 |-- customerid: long (nullable = true)
 |-- status: string (nullable = true)

+-------+----------+----------+---------------+
|orderid| orderdate|customerid|         status|
+-------+----------+----------+---------------+
|      1|2013-07-25|     11599|         CLOSED|
|      2|2014-07-25|       256|PENDING_PAYMENT|
|      3|2013-07-25|     11599|       COMPLETE|
|      4|2019-07-25|      8827|         CLOSED|
+-------+----------+----------+---------------+

+----------+----------+---------------+-----+-----+
| orderdate|customerid|         status|date1|newid|
+----------+----------+---------------+-----+-----+
|2013-07-25|     11599|         CLOSED| null|    0|
|2014-07-25|       256|PENDING_PAYMENT| null|    1|
|2019-07-25|      8827|         CLOSED| null|    3|
+----------+----------+---------------+-----+-----+

# Aggregate transformations

In [11]:
#1. Simple aggregations
#2. Grouping aggregations
#3. window aggregates

# simple aggregates

In [13]:
invoiceDF = spark.read.format("csv")\
           .option("header",True)\
           .option("inferSchema",True)\
           .option("path","order_data-201025-223502.csv")\
           .load()
#column object expression

In [16]:
invoiceDF.select(count("*").alias("RowCount"),
                 sum("Quantity").alias("TotalQuantity"),
                 avg("UnitPrice").alias("AvgPrice"),
                 countDistinct("InvoiceNo").alias("CountDistinct"))\
                 .show()

+--------+-------------+-----------------+-------------+
|RowCount|TotalQuantity|         AvgPrice|CountDistinct|
+--------+-------------+-----------------+-------------+
|  541782|      5175855|4.611565323321897|        25858|
+--------+-------------+-----------------+-------------+

In [18]:
#column string expression
invoiceDF.selectExpr("count(*) as RowCount","sum(Quantity) as TotalQuantity",
                     "avg(UnitPrice) as AvgPrice",
                     "count(Distinct(InvoiceNo)) as CountDistinct")\
                     .show()

+--------+-------------+-----------------+-------------+
|RowCount|TotalQuantity|         AvgPrice|CountDistinct|
+--------+-------------+-----------------+-------------+
|  541782|      5175855|4.611565323321897|        25858|
+--------+-------------+-----------------+-------------+

In [21]:
#spark SQL
invoiceDF.createOrReplaceTempView("sales")
spark.sql("select count(*),sum(Quantity),avg(UnitPrice),count(distinct(InvoiceNo)) from sales").show()

+--------+-------------+-----------------+-------------------------+
|count(1)|sum(Quantity)|   avg(UnitPrice)|count(DISTINCT InvoiceNo)|
+--------+-------------+-----------------+-------------------------+
|  541782|      5175855|4.611565323321897|                    25858|
+--------+-------------+-----------------+-------------------------+

# Grouping aggregations

In [24]:
#column object expression
summaryDF = invoiceDF.groupBy("Country","InvoiceNo")\
           .agg(sum("Quantity").alias("TotalQuantity"),sum(expr("Quantity * UnitPrice")).alias("InvoiceValue"))
summaryDF.show()

+--------------+---------+-------------+------------------+
|       Country|InvoiceNo|TotalQuantity|      InvoiceValue|
+--------------+---------+-------------+------------------+
|United Kingdom|   536446|          329|            440.89|
|United Kingdom|   536508|          216|            155.52|
|United Kingdom|   537811|           74|            268.86|
|United Kingdom|   538895|          370|            247.38|
|United Kingdom|   540453|          341|302.44999999999993|
|United Kingdom|   541291|          217|305.81000000000006|
|United Kingdom|   542551|           -1|               0.0|
|United Kingdom|   542576|           -1|               0.0|
|United Kingdom|   542628|            9|            132.35|
|United Kingdom|   542886|          199| 320.5099999999998|
|United Kingdom|   542907|           75|            313.85|
|United Kingdom|   543131|          134|             164.1|
|United Kingdom|   543189|          102|            153.94|
|United Kingdom|   543265|           -4|               0.0|
|        Cyprus|   544574|          173|            320.69|
|United Kingdom|   545077|           24|             10.08|
|United Kingdom|   545300|          116|            323.16|
|United Kingdom|   545347|           72| 76.32000000000001|
|United Kingdom|   545418|           10|              85.0|
|United Kingdom|   545897|          577|1762.2200000000018|
+--------------+---------+-------------+------------------+
only showing top 20 rows

In [25]:
#string expression
summaryDf1 = invoiceDF.groupBy("Country","InvoiceNo")\
            .agg(expr("sum(Quantity) as TotalQunatity"),expr("sum(Quantity * UnitPrice) as InvoiceValue"))
summaryDf1.show()

+--------------+---------+-------------+------------------+
|       Country|InvoiceNo|TotalQunatity|      InvoiceValue|
+--------------+---------+-------------+------------------+
|United Kingdom|   536446|          329|            440.89|
|United Kingdom|   536508|          216|            155.52|
|United Kingdom|   537811|           74|            268.86|
|United Kingdom|   538895|          370|            247.38|
|United Kingdom|   540453|          341|302.44999999999993|
|United Kingdom|   541291|          217|305.81000000000006|
|United Kingdom|   542551|           -1|               0.0|
|United Kingdom|   542576|           -1|               0.0|
|United Kingdom|   542628|            9|            132.35|
|United Kingdom|   542886|          199| 320.5099999999998|
|United Kingdom|   542907|           75|            313.85|
|United Kingdom|   543131|          134|             164.1|
|United Kingdom|   543189|          102|            153.94|
|United Kingdom|   543265|           -4|               0.0|
|        Cyprus|   544574|          173|            320.69|
|United Kingdom|   545077|           24|             10.08|
|United Kingdom|   545300|          116|            323.16|
|United Kingdom|   545347|           72| 76.32000000000001|
|United Kingdom|   545418|           10|              85.0|
|United Kingdom|   545897|          577|1762.2200000000018|
+--------------+---------+-------------+------------------+
only showing top 20 rows

In [22]:
#spark SQL
invoiceDF.createOrReplaceTempView("sales")
spark.sql("""select  country,InvoiceNo,sum(Quantity) as totQty,sum(Quantity * UnitPrice) asInvoiceValue 
         from sales group by country,InvoiceNo""").show()

+--------------+---------+------+------------------+
|       country|InvoiceNo|totQty|    asInvoiceValue|
+--------------+---------+------+------------------+
|United Kingdom|   536446|   329|            440.89|
|United Kingdom|   536508|   216|            155.52|
|United Kingdom|   537811|    74|            268.86|
|United Kingdom|   538895|   370|            247.38|
|United Kingdom|   540453|   341|302.44999999999993|
|United Kingdom|   541291|   217|305.81000000000006|
|United Kingdom|   542551|    -1|               0.0|
|United Kingdom|   542576|    -1|               0.0|
|United Kingdom|   542628|     9|            132.35|
|United Kingdom|   542886|   199| 320.5099999999998|
|United Kingdom|   542907|    75|            313.85|
|United Kingdom|   543131|   134|             164.1|
|United Kingdom|   543189|   102|            153.94|
|United Kingdom|   543265|    -4|               0.0|
|        Cyprus|   544574|   173|            320.69|
|United Kingdom|   545077|    24|             10.08|
|United Kingdom|   545300|   116|            323.16|
|United Kingdom|   545347|    72| 76.32000000000001|
|United Kingdom|   545418|    10|              85.0|
|United Kingdom|   545897|   577|1762.2200000000018|
+--------------+---------+------+------------------+
only showing top 20 rows

# 3. window aggregates

In [35]:
invoiceDF = spark.read \
           .format("csv") \
           .option("header", True) \
           .option("inferSchema", True) \
           .option("path", "windowdata-201025-223502.csv") \
           .load()

In [36]:
myWindow = Window.partitionBy("country")\
          .orderBy("weeknum")\
          .rowsBetween(Window.unboundedPreceding, Window.currentRow)

In [37]:
mydf = invoiceDF.withColumn("RunningTotal",sum("invoicevalue").over(myWindow))
mydf.show()

+---------------+-------+-----------+-------------+------------+------------------+
|        country|weeknum|numinvoices|totalquantity|invoicevalue|      RunningTotal|
+---------------+-------+-----------+-------------+------------+------------------+
|      Australia|     48|          1|          107|      358.25|            358.25|
|      Australia|     49|          1|          214|       258.9|            617.15|
|      Australia|     50|          2|          133|      387.95|1005.0999999999999|
|        Austria|     50|          2|            3|      257.04|            257.04|
|        Bahrain|     51|          1|           54|      205.74|            205.74|
|        Belgium|     48|          1|          528|       346.1|             346.1|
|        Belgium|     50|          2|          285|      625.16|            971.26|
|        Belgium|     51|          2|          942|      838.65|1809.9099999999999|
|Channel Islands|     49|          1|           80|      363.53|            363.53|
|         Cyprus|     50|          1|          917|     1590.82|           1590.82|
|        Denmark|     49|          1|          454|      1281.5|            1281.5|
|        Finland|     50|          1|         1254|       892.8|             892.8|
|         France|     48|          4|         1299|     2808.16|           2808.16|
|         France|     49|          9|         2303|     4527.01|           7335.17|
|         France|     50|          6|          529|      537.32|           7872.49|
|         France|     51|          5|          847|     1702.87|           9575.36|
|        Germany|     48|         11|         1795|     3309.75|           3309.75|
|        Germany|     49|         12|         1852|     4521.39|           7831.14|
|        Germany|     50|         15|         1973|     5065.79|          12896.93|
|        Germany|     51|          5|         1103|     1665.91|          14562.84|
+---------------+-------+-----------+-------------+------------+------------------+
only showing top 20 rows

# join on data frame

In [6]:
# Two kind of join
#1-simple join
#2-broadcast join

In [25]:
#1. inner (matching records from both the tables) we wont see the customer who never placed a order.
#2. outer - matching records + non matching records from left table + non matching records from right table 
#3. left - matching records + non matching records from the left table
#4. right - matching records + non matching records fromthe right table

In [7]:
orderDF = spark.read \
           .format("csv") \
           .option("header", True) \
           .option("inferSchema", True) \
           .option("path", "orders-201019-002101.csv") \
           .load()

In [8]:
customerDF = spark.read \
           .format("csv") \
           .option("header", True) \
           .option("inferSchema", True) \
           .option("path", "customers-201025-223502.csv") \
           .load()

In [11]:
#orderDF.show()

In [12]:
#customerDF.show()

In [22]:
joinCondition= orderDF.order_customer_id == customerDF.customer_id
joinType="left"

In [23]:
joinDF= orderDF.join(customerDF,joinCondition,joinType).sort("customer_id")

In [24]:
joinDF.show()

+--------+-------------------+-----------------+---------------+-----------+--------------+--------------+--------------+-----------------+--------------------+-------------+--------------+----------------+
|order_id|         order_date|order_customer_id|   order_status|customer_id|customer_fname|customer_lname|customer_email|customer_password|     customer_street|customer_city|customer_state|customer_zipcode|
+--------+-------------------+-----------------+---------------+-----------+--------------+--------------+--------------+-----------------+--------------------+-------------+--------------+----------------+
|   68884|               null|             null|       COMPLETE|       null|          null|          null|          null|             null|                null|         null|          null|            null|
|   22945|2013-12-13 00:00:00|                1|       COMPLETE|          1|       Richard|     Hernandez|     XXXXXXXXX|        XXXXXXXXX|  6303 Heather Plaza|  Brownsville|            TX|           78521|
|   15192|2013-10-29 00:00:00|                2|PENDING_PAYMENT|          2|          Mary|       Barrett|     XXXXXXXXX|        XXXXXXXXX|9526 Noble Embers...|    Littleton|            CO|           80126|
|   67863|2013-11-30 00:00:00|                2|       COMPLETE|          2|          Mary|       Barrett|     XXXXXXXXX|        XXXXXXXXX|9526 Noble Embers...|    Littleton|            CO|           80126|
|   33865|2014-02-18 00:00:00|                2|       COMPLETE|          2|          Mary|       Barrett|     XXXXXXXXX|        XXXXXXXXX|9526 Noble Embers...|    Littleton|            CO|           80126|
|   57963|2013-08-02 00:00:00|                2|        ON_HOLD|          2|          Mary|       Barrett|     XXXXXXXXX|        XXXXXXXXX|9526 Noble Embers...|    Littleton|            CO|           80126|
|   61453|2013-12-14 00:00:00|                3|       COMPLETE|          3|           Ann|         Smith|     XXXXXXXXX|        XXXXXXXXX|3422 Blue Pioneer...|       Caguas|            PR|             725|
|   22646|2013-12-11 00:00:00|                3|       COMPLETE|          3|           Ann|         Smith|     XXXXXXXXX|        XXXXXXXXX|3422 Blue Pioneer...|       Caguas|            PR|             725|
|   23662|2013-12-19 00:00:00|                3|       COMPLETE|          3|           Ann|         Smith|     XXXXXXXXX|        XXXXXXXXX|3422 Blue Pioneer...|       Caguas|            PR|             725|
|   56178|2014-07-15 00:00:00|                3|        PENDING|          3|           Ann|         Smith|     XXXXXXXXX|        XXXXXXXXX|3422 Blue Pioneer...|       Caguas|            PR|             725|
|   57617|2014-07-24 00:00:00|                3|       COMPLETE|          3|           Ann|         Smith|     XXXXXXXXX|        XXXXXXXXX|3422 Blue Pioneer...|       Caguas|            PR|             725|
|   35158|2014-02-26 00:00:00|                3|       COMPLETE|          3|           Ann|         Smith|     XXXXXXXXX|        XXXXXXXXX|3422 Blue Pioneer...|       Caguas|            PR|             725|
|   46399|2014-05-09 00:00:00|                3|     PROCESSING|          3|           Ann|         Smith|     XXXXXXXXX|        XXXXXXXXX|3422 Blue Pioneer...|       Caguas|            PR|             725|
|    9704|2013-09-24 00:00:00|                4|       COMPLETE|          4|          Mary|         Jones|     XXXXXXXXX|        XXXXXXXXX|  8324 Little Common|   San Marcos|            CA|           92069|
|   37878|2014-03-15 00:00:00|                4|       COMPLETE|          4|          Mary|         Jones|     XXXXXXXXX|        XXXXXXXXX|  8324 Little Common|   San Marcos|            CA|           92069|
|    9023|2013-09-19 00:00:00|                4|       COMPLETE|          4|          Mary|         Jones|     XXXXXXXXX|        XXXXXXXXX|  8324 Little Common|   San Marcos|            CA|           92069|
|   49339|2014-05-28 00:00:00|                4|       COMPLETE|          4|          Mary|         Jones|     XXXXXXXXX|        XXXXXXXXX|  8324 Little Common|   San Marcos|            CA|           92069|
|   17253|2013-11-09 00:00:00|                4|PENDING_PAYMENT|          4|          Mary|         Jones|     XXXXXXXXX|        XXXXXXXXX|  8324 Little Common|   San Marcos|            CA|           92069|
|   51157|2014-06-10 00:00:00|                4|         CLOSED|          4|          Mary|         Jones|     XXXXXXXXX|        XXXXXXXXX|  8324 Little Common|   San Marcos|            CA|           92069|
|   13705|2013-10-18 00:00:00|                5|       COMPLETE|          5|        Robert|        Hudson|     XXXXXXXXX|        XXXXXXXXX|10 Crystal River ...|       Caguas|            PR|             725|
+--------+-------------------+-----------------+---------------+-----------+--------------+--------------+--------------+-----------------+--------------------+-------------+--------------+----------------+
only showing top 20 rows

In [21]:
#for i in joinDF:
    #print(i)

In [18]:
k=joinDF.collect()

In [20]:
count=0
for i in k:
    count+=1
print(count)

68883

# Problem after joining

In [26]:
#1. showcasing how your code can lead to ambiguouscolumn names.
#this happens when we try to select a column name which is coming from 2 different dataframes..

In [28]:
# i am going to rename the column name in order.csv as customer_id

In [29]:
orderDF = spark.read \
           .format("csv") \
           .option("header", True) \
           .option("inferSchema", True) \
           .option("path", "orders-201019-002101.csv") \
           .load()

In [30]:
customerDF = spark.read \
           .format("csv") \
           .option("header", True) \
           .option("inferSchema", True) \
           .option("path", "customers-201025-223502.csv") \
           .load()

In [31]:
joinCondition= orderDF.customer_id == customerDF.customer_id
joinType="left"

In [33]:
orderDF.join(customerDF,joinCondition,joinType).show(5)

+--------+-------------------+-----------+---------------+-----------+--------------+--------------+--------------+-----------------+--------------------+-------------+--------------+----------------+
|order_id|         order_date|customer_id|   order_status|customer_id|customer_fname|customer_lname|customer_email|customer_password|     customer_street|customer_city|customer_state|customer_zipcode|
+--------+-------------------+-----------+---------------+-----------+--------------+--------------+--------------+-----------------+--------------------+-------------+--------------+----------------+
|       1|2013-07-25 00:00:00|      11599|         CLOSED|      11599|          Mary|        Malone|     XXXXXXXXX|        XXXXXXXXX|8708 Indian Horse...|      Hickory|            NC|           28601|
|       2|2013-07-25 00:00:00|        256|PENDING_PAYMENT|        256|         David|     Rodriguez|     XXXXXXXXX|        XXXXXXXXX|7605 Tawny Horse ...|      Chicago|            IL|           60625|
|       3|2013-07-25 00:00:00|      12111|       COMPLETE|      12111|         Amber|        Franco|     XXXXXXXXX|        XXXXXXXXX|8766 Clear Prairi...|   Santa Cruz|            CA|           95060|
|       4|2013-07-25 00:00:00|       8827|         CLOSED|       8827|         Brian|        Wilson|     XXXXXXXXX|        XXXXXXXXX|   8396 High Corners|  San Antonio|            TX|           78240|
|       5|2013-07-25 00:00:00|      11318|       COMPLETE|      11318|          Mary|         Henry|     XXXXXXXXX|        XXXXXXXXX|3047 Silent Ember...|       Caguas|            PR|             725|
+--------+-------------------+-----------+---------------+-----------+--------------+--------------+--------------+-----------------+--------------------+-------------+--------------+----------------+
only showing top 5 rows

In [34]:
#here we are getting customer_id twice

orderDF.join(customerDF,joinCondition,joinType).select("customer_id","order_id","order_status").show(5)
# we will get an error because of ambiguous column in two different dataframe and system get confused

AnalysisException: Reference 'customer_id' is ambiguous, could be: customer_id, customer_id.

In [35]:
#how to solve this issue.. ========================== 
#there are 2 ways to solve this problem 
#1. this is before the join
#you rename the ambiguous column in one of the dataframe .withColumnRenamed("old_column_name","new_column_name")

In [37]:
orderDF1=orderDF.withColumnRenamed("customer_id","cust_id")

In [38]:
joinCondition= orderDF1.cust_id == customerDF.customer_id
joinType="left"

In [40]:
orderDF1.join(customerDF,joinCondition,joinType).show(2)

+--------+-------------------+-------+---------------+-----------+--------------+--------------+--------------+-----------------+--------------------+-------------+--------------+----------------+
|order_id|         order_date|cust_id|   order_status|customer_id|customer_fname|customer_lname|customer_email|customer_password|     customer_street|customer_city|customer_state|customer_zipcode|
+--------+-------------------+-------+---------------+-----------+--------------+--------------+--------------+-----------------+--------------------+-------------+--------------+----------------+
|       1|2013-07-25 00:00:00|  11599|         CLOSED|      11599|          Mary|        Malone|     XXXXXXXXX|        XXXXXXXXX|8708 Indian Horse...|      Hickory|            NC|           28601|
|       2|2013-07-25 00:00:00|    256|PENDING_PAYMENT|        256|         David|     Rodriguez|     XXXXXXXXX|        XXXXXXXXX|7605 Tawny Horse ...|      Chicago|            IL|           60625|
+--------+-------------------+-------+---------------+-----------+--------------+--------------+--------------+-----------------+--------------------+-------------+--------------+----------------+
only showing top 2 rows

In [41]:
orderDF1.join(customerDF,joinCondition,joinType).select("customer_id","order_id","order_status").show(2)
#NOW WE WILL GET THE VALUE

+-----------+--------+---------------+
|customer_id|order_id|   order_status|
+-----------+--------+---------------+
|      11599|       1|         CLOSED|
|        256|       2|PENDING_PAYMENT|
+-----------+--------+---------------+
only showing top 2 rows

In [42]:
#2. once the join is done we can drop one of those columns. 
#.drop

In [44]:
joinCondition= orderDF.customer_id == customerDF.customer_id
joinType="left"

In [50]:
a=orderDF.join(customerDF,joinCondition,joinType).drop(orderDF.customer_id)

In [51]:
a.select("customer_id","order_id","order_status").show(5)

+-----------+--------+---------------+
|customer_id|order_id|   order_status|
+-----------+--------+---------------+
|      11599|       1|         CLOSED|
|        256|       2|PENDING_PAYMENT|
|      12111|       3|       COMPLETE|
|       8827|       4|         CLOSED|
|      11318|       5|       COMPLETE|
+-----------+--------+---------------+
only showing top 5 rows